body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    background: #f9fafb;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: linear-gradient(90deg, #e9af00, #ff7400, #F7743B, #ff9a00);
    height: 65px;
    padding-left: 20px;
    color: white;
}

.head h3 {
    font-size: 30px;
}

.sidebar {
    position: fixed;
    margin-top: 65px;
    left: 0;
    height: calc(100% - 65px);
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 5px;
    box-shadow: 5px 0 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.sidebar a {
    margin-left: 10px;
    margin-top: 10px;
    padding: 12px 20px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ff4d00;
    border-radius: 20px;
    width: 140px;
    opacity: 0.8;
    font-size: large;
    font-weight: bold;
}

.main-content {
    margin-left: 210px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-content h2 {
    font-size: 1.8rem;
    color: #F7743B;
    margin-bottom: 16px;
}

.analytics-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 16px;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: #333;
}

.full-width {
    grid-column: span 2;
}

canvas {
    max-width: 100%;
    height: auto;
}


@media (max-width: 1024px) {
    .analytics-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 160px;
    }
    .main-content {
        margin-left: 170px;
    }
    }

    @media (max-width: 600px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: row;
        overflow-x: auto;
    }
    .main-content {
        margin-left: 0;
        padding: 12px;
    }
}

#categoryChart {
    max-width: 400px;
    max-height: 300px;
    margin: auto;
}
